body {
    background-image: url("railway.avif");
    background-size: cover;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    height: 100vh;
}

.container {
    background: #d3b08d;
    width: 62vh;
    height: 50vh;
    margin: 40px auto;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding: 10px 0;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: block;
    margin: 10px auto;

}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#increment-btn {
    background: #3C2412;
}

#increment-btn :hover {
    cursor: e-resize;
}

#save-btn {
    background: #D2610A;
}

#save-el {
    font-weight: bold;
}

#reset-btn {
    background: #766E67;
}